.popupClass {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

div.popupClass {
    
    height: 128px;
    width: 200px;
    min-height: 128px;
    min-width: 100px;
}

p.popupClass {
    padding-top: 8px;
}
